@model PresentationLayer.Models.ToyViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="detail-page">
    <div class="left-section">
        <h2>@Model.Name</h2>
        <p><strong>Condition:</strong> @Model.Condition</p>
        <img src="@Model.Image" alt="@Model.Name" class="toy-detail-image" />
        <p><strong>Description:</strong> (descripiton when available)</p>
    </div>

    <div class="right-section">
        <div class="user-info">
            <h3>@Model.Username</h3>
            <button class="btn-standard">View profile</button>
            <p>14 times traded</p>
            <p>4.2/5 stars</p>

            <a href="@Url.Action("Create", "TradeRequest", new { chosenToyId = Model.Id })" class="btn-standard">
                Submit a Trade Request
            </a>

        </div>

        <div class="other-swaps">
            <h4>Other traderequests</h4>

        </div>
    </div>
</div>
